<!DOCTYPE html>
<html>
<head>
<title>Minimal Zonelets Theme</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="style.css" /> <!-- Make sure you fix this path if it's not correct -->

</head>

<body>
<div id="container">

<!-- Start header -->
<header id="header">

<!-- Navigation -->
<nav>
<ul>
	<li><a href="">Home</a></li>
	<li><a href="">Archive</a></li>
	<li><a href="">About</a></li>
</ul>
</nav>
</header>

<!-- Start content -->
<main id="content">

<!-- Type here -->
  
<div id="recentpostlistdiv">
<h2>Recent posts</h2>

<!-- Recent posts list -->
<ul>
	<li><a href="post.html">2022-05-22 &#187; This Link Takes You to a Sample Post!</a></li>
	<li><a href="">2021-03-14 &#187; Underwater Basket Weaving Tutorial</a></li>
	<li><a href="">1402-07-05 &#187; Intro to Gregorian Chants</a></li>
	<li class="moreposts"><a href="">&#187; more posts</a></li>
</ul>

</div>

</main>

<!--Start footer -->
<footer id="footer">My Blog Name is written by My Name Here, built with <a href="https://zonelets.net/">Zonelets</a>, and hosted by <a href="https://neocities.org/">Neocities!</a></footer>
</div>
</body>
</html>
