* { margin:0; padding:0; }

/* Change colors etc here */

body {
	background:#ebe6dd;
	color:#321807;
	font:14pt Georgia, Times New Roman, serif;
}

a {
	color:#8c5e29;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* Wrapper */

#container {
	width:calc(100% - 40px);
	margin:20px auto;
	padding:20px;
}

/* Header */

#header {
	font-size:1.3em;
	text-align:center;
	font-style:italic;
}

/* Header links */

#header ul {
	list-style:none;
	margin:0;
}

#header li {
	display:inline-block;
	margin: 0px 10px 0px 0px;
}

/* Content styling */

#content {
	margin-top:20px;
}

/* Headers */

#content h1 {
	font-size:1.8em;
	font-weight:normal;
}

#content h2 {
	font-size:1.5em;
	font-weight:normal;
}

#content h3 {
	font-size:1.25em;
	font-weight:normal;
}

#content h4 {
	font-size:0.9em;
	font-weight:normal;
	font-style:italic;
}

/* Paragraphs */

#content p {
	margin:10px 0px 10px 0px;
	line-height:1.5;
}

#content ul {
	list-style: inside;
	margin-left:20px;
}

#content ol {
	list-style: upper-roman inside;
	margin-left:20px;
}

#content li {
	margin:5px 0px 5px 0px;
}

/* Footer styling */

#footer {
	font-size:0.85em;
	margin:20px 0px 0px 0px;
	text-align:center;
}

/* Bits and pieces */

hr {
	border:0.5px solid;
	margin:10px;
}

img {
	max-width:100%;
	margin:5px;
}

/* Zonelets classes */

.right {
	float: right;
	margin-left: 1em;
}

.left {
	float: left;
	margin-right: 1em;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.caption {
	font-size:0.85em;
	font-style:italic;
}

#postlistdiv ul {
	padding: 0;
	margin:5px 0px 5px 0px;
	list-style-type: none;
}

#recentpostlistdiv ul {
	padding: 0;
	margin:5px 0px 5px 0px;
	list-style-type: none;
}

#nextprev {
  text-align: center;
  margin-top:10px;
  clear:both;
}

@media only screen and (min-width: 600px) {
  .small {
    max-width: 40%;
  }

  #container {
	width:70%;
  }
}

@media only screen and (min-width: 1023px) {
	body { font-size:16pt; }
}