<!DOCTYPE html>
<html lang="en">
<head>
<title>Pink drink</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

</head>
<body>

<!-- Accessibility! Don't remove! -->
<div id="top"></div>
<div id="skip"> <a href="#content">Skip to content</a> </div>

<div id="container">
<header>

<!-- Site title -->
<div id="title">
    SITE TITLE HERE
</div>
<div id="banner"></div>
<nav id="navigation">
    <ul>
    <!-- Put navigation links here. They can spill into the next line -->
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
    </ul>
</nav>
</header>
<main id="content">

<!-- Main content -->
<h1>Header</h1>
<p>I made this layout a very long time ago. I found it, liked what it had going on, and decided to retool it with cleaner code and better accessibility. (Unfortunately for past me, that means darkening all of the pastels, but now it's more legible!)</p>

<p>If you want to use all the images and fonts, you'll need to download them locally. You can download the entire folder as a ZIP file on <a href="">Github</a>, which will preserve the path structure. If you just want to use it as a template, all you need is the CSS file, which you can copy from the source or download on Github.</p>

<p>Also, here's the original blurb that was saved on this because cringe is dead and I am free:</p>

<h2>Original layout blurb</h2>
<p>A spring themed layout? In the middle of winter? What is this madness?!</p>

<p>Really, even I don't know the meaning behind this. It could have something to do with the weather I suppose. The weather has been surprisingly warm and happy
for winter here!</p>

<p>Well, regardless of the weather, I rather like this layout. It's all clean, green (and pink) and pristine, and I absolutely <em>LOVE</em> the image! I've
been dying to use it for a very long time, it's simply gorgeous. Of course, all Kobato images are pretty, but this one really caught my eye.</p>

<p>I tried not to make it too fancy and I'm proud of myself since I ended up using only 2 textures and a mere 5 adjustment layers. Okay, I guess five adjustment
layers is kind of a lot, but believe me, compared to some of my other graphics, it's really not that much.</p>

<p>Anyways, I hope you like it and please enjoy!</p>

<h2>Samples</h2>
<h3>Header 3</h3>
<p><strong>Bold</strong> <em>Italic</em> <del>Strikethrough</del> <ins>Underline</ins> <a href="">Link</a></p>
<div class="box">
    <p>Valid XHTML 1.0 and compatible with the latest versions of <strong>Google Chrome</strong>, <strong>Mozilla Firefox</strong>,
    <strong>Internet Explorer</strong>, and <strong>Opera</strong>.</p>
    <ul>
        <li>List</li>
        <li>List</li>
    </ul>
    <input type="text" value="" /><br />
    <textarea rows="3"></textarea><br/>
    <input type="submit" value="Submit" /> <button>Button</button>
</div>

</div>
<footer id="footer">
<!-- Footer stuff -->
    <p>Footer text</p>
    <p><a href="#top">Back to top</a></p>
</footer>
</div>
</body>
</html>
