<!DOCTYPE html>
<html lang="en">
<head>

<title>TITLE HERE</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="style.css" /> <!-- Change to whatever you saved your stylesheet as -->
</head>
<body>

<div id="container">
<!-- Begin header -->
<header>Website title</header>

<!-- Begin menu -->
<nav id="top">
<ul>
    <!-- Use <li> tags to add links -->
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
</ul>
</nav>

<div id="content">
<!-- Begin main content -->
<main>
<!-- Type here -->
</main>

<!-- Begin sidebar -->
<div id="sidebar">

<!-- Use the section class to add text -->
<div class="section">
<h1>Section</h1>
<p>Text</p>
</div>

<!-- Use nav to add a menu -->
<nav>
<h1>Section</h1>
<ul>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
</ul>
</nav>
</div>
</div>

<!-- Begin footer -->
<footer>
<!-- Type here -->
</footer>
</div>
</body>
</html>
