<!DOCTYPE html>
<html lang="en">
<head>

<title>Pride layout</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="style.css" /> <!-- Change to whatever you saved your stylesheet as -->
</head>
<body>
<!-- Don't delete these lines! -->
<div id="top"></div>
<div id="skip"> <a href="#content">Skip to content</a> </div>

<!-- Start container -->
<div id="container">
<header>Website title</header>
<nav id="topmenu">
<ul>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
</ul>
</nav>
<div id="content">
<main>
<h1>Title</h1>
<p>Content</p>
</main>
<div id="sidebar">
<div class="section">
<h2>Section</h2>
<p>Text can go here! <a href="">So can links!</a></p>
</div>

<nav>
<h2>Section</h2>
<ul>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
    <li><a href="">Link</a></li>
</ul>
</nav>
</div>
</div>

<footer>
<p>Bottom text</p>
<p><a href="#top">Back to top</a> <span aria-hidden="true">&bull;</span> <a href="#topmenu">Back to menu</a></p>
</footer>
</div>
</body>
</html>
