:root {
    --background:#f0f0f0; /* Background color */
    --color: #181818; /* Text color */
    --contentbg: #f2f5f5; /* Content background color */
    --sidebarbg: #e6eef2; /* Sidebar background color */

    --toplink: #121014; /* Text color for top menu links */

    --link: #b2225c; /* Link color */
    --linkhover: #2966af;
    --linkborder: #4581cb;

    --pink:#df6d9a;
    --blue: #458ccb;

    --lightpink:#f1bdd3;
    --lightblue: #addcf5;

    /* Setting up the background gradient */
    --gradient: repeating-linear-gradient(
        90deg,
        var(--lightblue),
        var(--lightblue) 20px,
        var(--lightpink) 20px,
        var(--lightpink) 40px,
        transparent 40px,
        transparent 60px,
        var(--lightpink) 60px,
        var(--lightpink) 80px);
}

/* Dark mode colors */

@media (prefers-color-scheme:dark) {
    :root {
        --background:#f0f0f0; /* Background color */
        --color: #d1d9da; /* Text color */
        --contentbg: #2e2d34; /* Content background color */
        --sidebarbg: #26252c; /* Sidebar background color */

        --toplink: #e9dfe6; /* Text color for top menu links */

        --link: #e0a4bd; /* Link color */
        --linkhover: #adcef5;
        --linkborder: #adcef5;
    }

    img { opacity: 0.6; }
    img:hover { opacity: 1; }
}

* { margin:0; padding:0; transition: 0.5s; }
img { margin:2px; max-width:100%; }

/* Body styling */

body {
    background: var(--background) var(--gradient);
    color: var(--color);
    font:1rem sans-serif;
    letter-spacing:0.2px;
}

/* Container styling */

#container {
    margin:25px auto;
    padding:15px;
    background:var(--contentbg);
    width:calc(100% - 30px);
    border-radius:5px;
}

/* Header styling */

header {
    text-align:center;
    font:2.3em serif;
    /* Optional banner - uncomment the following: */
    /*
    height: 150px;
    background: url(LINK HERE);
    */
}

/* Top menu styling */

#topmenu {
    text-align:center;
}

#topmenu li {
    display:inline-block;
    list-style:none;
}

#topmenu li a {
    display:inline-block;
    border-bottom:3px solid;
    text-decoration:none;
    margin:2px;
    padding:2px;
    font:1.6em serif;
    text-transform:lowercase;
    color: var(--toplink);
}

#content {
    display:flex;
    flex-wrap:wrap;
    margin-top:15px;
}

/* Main styling */

main {
    flex:100%;
    padding:15px 15px 15px 10px;
}

p {
    line-height:1.4;
    margin:7px 0 7px 0;
}

p a, main li a {
    color:var(--link);
    text-decoration:underline;
    text-decoration-color: var(--linkborder);
}

main a:hover, #sidebar p a:hover {
    color:var(--linkhover);
}

main h1 {
    font:2em serif;
}

main h2 {
    font: 1.8em serif;
    font-style:italic;
}

main h3 {
    font: 1.5em serif;
    font-style:italic;
}

main ul, main ol {
    list-style-position:outside;
    margin-left: 20px;
}

main li {
    line-height:1.4;
}

main input, textarea, select, button { 
	background: var(--contentbg);  
	color: var(--color);
	font: 1rem sans-serif; 
	border: 1px solid; 
	padding: 8px; 
	margin: 2px;
}

/* Sidebar styling */

#sidebar {
    flex:100%;
    background:var(--sidebarbg);
    padding:15px;
    border-radius:3px;
}

#sidebar h2 {
    font:1.8em serif;
    text-align:center;
    text-transform:lowercase;
    font-style:italic;
}

#sidebar nav ul {
    list-style:none;
}

#sidebar nav a {
    border-bottom:1px solid var(--linkborder);
    display:block;
    text-decoration:none;
    padding:2px;
    color:var(--link);
}

#sidebar nav a:hover {
    padding-left:20px;
}

/* Footer styling */

footer {
    text-align:center;
    margin-top:15px;
    padding:10px 10px 0 10px;
    font-size:1em;
}

/* Skip button */
#skip a {
    position:absolute;
    display:inline-block;
    left:0px;
    top:-1000px;
    overflow:hidden;
    transition:top 0.5s ease;
    background:var(--contentbg);
    color:var(--link);
    z-index:1000;
    padding:5px;
}
 
#skip a:focus {
    top: 0;
    transition:top 0.5s ease;
}

/* Desktop styling */

@media screen and (min-width:800px) {
    #container {
        width:80%;
        max-width:900px;
    }
    
    main {
        flex:calc(75% - 25px);
    }

    #sidebar {
        flex:calc(25% - 30px);
    }
}

/* Rainbows... */

#top li:nth-of-type(2n+1) a {
    border-color: var(--pink);
}

#top li:nth-of-type(2n+1) a:hover {
    border-color: var(--lightpink);
}

#top li:nth-of-type(2n) a {
    border-color: var(--blue);
}

#top li:nth-of-type(2n) a:hover {
    border-color: var(--lightblue);
}